.container {
  position: relative;
}
.background {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.foreBackground {
  width: 100%;
}
.gradient-text {
  background: linear-gradient(109.37deg, #fff502 16.14%, #cb2027 97.64%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.growth-text {
  background: linear-gradient(90deg, #f8971d 0%, #cb2027 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-align: left;
  color: transparent;
}
