@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.text-gradient {
  background: linear-gradient(90.2deg, #f8971d -0.03%, #cb2027 77.55%);
  background-clip: text;
  -webkit-background-clip: text; /* For WebKit browsers (Chrome, Safari) */
  color: transparent; /* Ensures text color is fully transparent */
  -webkit-text-fill-color: transparent; /* For WebKit browsers */
}
